/* Global Rules */
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box

  /*
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  */
}
body {
  height: 5000px;
  color: #666
}

.uk-card .uk-card-footer .tags {
  opacity: 0.5
}

.uk-offcanvas-bar {
  background-color: #1e87f0;
}


/* Start Header */
@media (max-width:500px ) { /* this not found in bootstrap */
}

@media (min-width:501px) and (max-width:767px ) { /*  Mobile display */

}

@media (min-width:768px ) and (max-width:991px ) { /* Small display */
}

@media (min-width:992px ) and (max-width:1199px ){ /* Meduim display */

}

@media (min-width:1200px ) { /* Large display */
}

/* End Header */


@media (max-width:500px ) { /* this not found in bootstrap */
   /*  mobile */
   .container{
     width: auto;
   }
   .visible-xxs { display: block !important}
   .hidden-xxs {display: none !important}
   .responsive-p{
     font-size: 20px!important;
     line-height: 1.6!important;
   }
}


@media (min-width:501px) and (max-width:767px ) { /*  Mobile display */

   .container{
     width: auto;
   }
   .visible-xs { display: block !important}
   .hidden-xs {display: none !important}
   .responsive-p{
     font-size: 20px!important;
     line-height: 1.6!important;
   }

}

@media (min-width:768px ) and (max-width:991px ) { /* Small display */
  .container{
    width: 750px;
  }
  .visible-sm { display: block !important}
  .hidden-sm {display: none !important}
}

@media (min-width:992px ) and (max-width:1199px ){ /* Meduim display */

  .container{
    width: 970px;
  }
  .visible-md { display: block !important}
  .hidden-md {display: none !important}
}

@media (min-width:1200px ) { /* Large display */
  .container {
    width: 1170px;
  }
  .visible-lg { display: block !important}
  .hidden-lg {display: none !important}

}


/***********/
/* Start Header */

/* my Framework */
.float-l {float: left}
.float-r {float: right}
.clearfix {clear: both}
.text-center {text-align: center}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px
}
.visible-xxs,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
  display: none;
}

.main-section{padding: 40px 0}
.h1{font-size: 2em}
.responsive-p{
  font-size: 22px;
  line-height: 1.8
}
.responsive-img{width: 100%}

.classic-ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
هنا مو شرط اعرفهن لان هو الافتراضي ظاهر
.hidden-xxs,
.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg{
  display: block;
}
*/
